.home-text {
  color: #dfefe9;
  opacity: 0.9;
  background: #6f6c6c;
  border-radius: 5px;
  border: 2px solid #bbc161de;
  margin-top: 50px;
  padding: 20px;
}
.bg-cust {
  background-color: #659740;
}
