.home-text {
  color: #167955;
  opacity: 0.8;
  background: #fbfbfb;
  border-radius: 5px;
  border: 2px solid #bbc161de;
  margin-top: 50px;
  padding: 20px;
}
.bg-cust {
  background-color: #659740;
}
